.DS_Store
out
node_modules
.vscode-test
tsconfig.tsbuildinfo

client/out
client/dist
client/node_modules

server/out
server/dist
server/node_modules

**/.*bun-build
*.vsix
lsp-routeros-*

./*.rsc

**/*.map
*.map

test-data/vscode.dev/
test-data/Polygot.dib
test-data/assessment-results.json
.scratch
.vscode-test-web
build-standalone.sh
