**/*.ts
**/tsconfig.json
test.rsc
icon.svg
**/*.map
**/.*bun-build
lsp-routeros*
**/tsconfig.tsbuildinfo
.github/*
.vscode/**
client/src/**
server/src/**
**/*.ts
**/node_modules/**
**/*.map
.gitignore
webpack.config.js
.eslintrc.json