**/*.ts
**/tsconfig.json
test*
tests
**/tests
icon.svg
**/*.map
**/.*bun-build
lsp-routeros*
**/tsconfig.tsbuildinfo
.github
.vscode/**
client/src/**
server/src/**
**/*.ts
**/*.mts
**/node_modules/**
**/*.map
.gitignore
webpack.config.js
.eslintrc.json
bun.lock
**/bun.lock
.scratch
.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
**/node_modules/**
test-data
*.mjs
